/* .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.nav-container nav {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navlink {
    list-style: none;
    padding-right: 25px;
    
} */

/* ul {
    display: block;
} */
/* .menu {
    font-size: 1.45em;
    cursor: pointer;
} */

/* h3 {
    color: black;
} */

body {
    background-color: #b5b1ca;
    /* margin: 0; */
}

main {
    font-size: .75em;
    background-color: #d3d8b8;
    text-align: center;
    padding: 15px 0 15px 0;
}


.accordion {
    /* background-color: #d3d8b8;
    cursor: pointer; */
    padding: 18px;
    /* width: 100%; */
    /* border: none; */
    /* outline: none; */
    /* font-weight: 600; */
}



.accordion-body {
    font-size: 1.25em;
    padding: 18px;
    background-color: white;
}

.contact {
    padding-bottom: 20px;
}

.name , .email , .message {
    display: block;
    margin: 1em;
}

p > img {
    width: 50%;  
}

/*  */

.navbar-nav {
    padding-right: 10px;
    margin-top: 5px;
    align-items: flex-end;
}

.accordion-button {
    justify-content: center;
}

.accordion-button::after {
    display: none;
}

.social-img {
    max-width: 100px;
}

@media (max-width: 499px) {
    

}

@media (min-width: 500px) {
    .menu {
        display: none;
    }


}

@media (min-width: 992px) {
    .accordion:hover {
        font-size: larger;
    }

    .navbar-nav {
        margin-left: auto;
    }
} 