
body {
    background-color: #322E40!important;  
}

body, html {
    height: 100%;
  }

main {
    font-size: .75em;
    text-align: center;
    padding: 15px 0 15px 0;
    background-image: url('https://cdn.pixabay.com/photo/2016/05/24/16/48/mountains-1412683_960_720.png');
    background-size: cover;
    background-position: center bottom;
    height: 100%;
}

#home {
    margin-top: 15%;
}

.question {
    margin-bottom: 10%;
}

.accordion {
    padding: 18px;
}

.accordion-body {
    font-size: 1.25em;
    background-color: #66C1D0;
}

.contact {
    padding-bottom: 20px;
}

.name , .email , .message {
    display: block;
    margin: 1em;
}

.img1 {
    width: 50%;  
    padding-bottom: 1em;
}

.navbar-nav {
    padding-right: 10px;
    margin-top: 5px;
    align-items: flex-end;
}

.navbar-light .navbar-brand {
    color: #ecc755!important;
}

.nav-link {
    color: #ecc755!important;

}

.accordion-button {
    justify-content: center;
    color: #ecc755!important;
    background-color: #518776!important;
}

.accordion-button::after {
    display: none;
}

.social-img {
    max-width: 100px;
}

.git-img {
    border-radius: 50px;
}

.projects-body {
    display: flex;
}

@media (max-width: 991px) {
    #home {
        padding-top: 10%;
        margin-bottom: 10%;
    }
}

@media (min-width: 992px) {
    .accordion-button:hover {
        font-size: 80%;
    }

    .navbar-nav {
        margin-left: auto;
    }

    p > img {
        width: 30%;  
    }
    
    .question {
        padding: 40px;
    }

    #home {
        margin-top: 10%;
    }
} 